@import "tailwindcss";
@config "../tailwind.config.ts";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --color-primary: #fccd29; /* Gold-Yellow-500 */
  --color-secondary: #517184; /* Steel-Blue-500 */
  --color-accent: #f59e0b; /* Amber-500 */
  --color-danger: #ef4444; /* Red-500 */
  --color-dark: #000000; /* Black */
  --color-light: #ffffff; /* White */
  /* Add more color variables as needed */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-primary: var(--color-primary);
  --font-secondary: var(--color-secondary);
  --font-accent: var(--color-accent);
  --font-danger: var(--color-danger);
  --font-dark: var(--color-dark);
  --font-light: var(--color-light);
  /* --font-mono: var(--font-geist-mono); */
}
