@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --color-primary: #fccd29; /* Gold-Yellow-500 */
  --color-secondary: #517184; /* Steel-Blue-500 */
  --color-accent: #f59e0b; /* Amber-500 */
  --color-danger: #ef4444; /* Red-500 */
  --color-dark: #000000; /* Black */
  --color-light: #ffffff; /* White */
  /* Add more color variables as needed */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-inter: var(--font-inter);
  --font-space_grotesk: var(--font-space_grotesk);
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: "inter", Arial, Helvetica, sans-serif;
} */
